<div class="app-navbar-item ms-3 ms-lg-4 me-2 position-relative" id="kt_header_user_menu_toggle" dropdown [insideClick]="true" placement="left">
    <div class="cursor-pointer symbol symbol-30px symbol-lg-40px" dropdownToggle>
        <img [src]="profilePicture" alt="user" />
    </div>
    <div class="menu menu-sub menu-sub-dropdown dropdown-menu-right menu-column menu-rounded menu-gray-800 menu-state-bg menu-state-color fw-semibold py-4 fs-6 w-275px position-absolute" *dropdownMenu>
        <div class="menu-item px-3">
            <div class="menu-content d-flex align-items-center px-3">
                <div class="symbol symbol-50px me-5">
                    <img alt="Logo" [src]="profilePicture" />
                </div>
                <div class="d-flex flex-column">
                    <div class="fw-bold d-flex align-items-center fs-5">{{ userName }}
                        <span class="badge badge-light-success fw-bold fs-8 px-2 py-1 ms-2">Pro</span>
                    </div>
                    <a href="#" class="fw-semibold text-muted text-hover-primary fs-7">{{ emailAddress }}</a>
                </div>
            </div>
        </div>
        <div class="separator my-2"></div>
        <div class="menu-item px-5">
            <a href="../dist/account/overview.html" class="menu-link px-5">My Profile</a>
        </div>
        <div class="menu-item px-5">
            <a href="javascript:;" (click)="signOut()" class="menu-link px-5">Sign Out</a>
        </div>
        <div class="separator my-2"></div>
        <div class="menu-item px-5">
            <div class="menu-content px-5">
                <label class="form-check form-switch form-check-custom form-check-solid pulse pulse-success" for="kt_dark_mode_toggle">
                    <input class="form-check-input w-30px h-20px" type="checkbox" value="0" name="mode" id="kt_dark_mode_toggle" [(ngModel)]="isDarkMode" (click)="toggleDarkMode()"/>
                    <span class="pulse-ring ms-n1"></span>
                    <span class="form-check-label text-gray-600 fs-7">Dark Mode</span>
                </label>
            </div>
        </div>
    </div>
</div>