<default-page [title]="'About'" [breadcrumbs]="breadcrumbs">
    <div role="app-content">
        <p>
            This is a simple startup template based on ASP.NET Boilerplate
            framework and Module Zero. If you need an enterprise startup
            project, check
            <a href="http://aspnetzero.com?ref=abptmpl" target="_blank">
                ASP.NET ZERO </a
            >.
        </p>
        <h3>What is ASP.NET Boilerplate?</h3>
        <p>
            ASP.NET Boilerplate is an application framework built on latest
            <strong>ASP.NET Core</strong> framework. It makes easy to use
            authorization, dependency injection, validation, exception handling,
            localization, logging, caching, background jobs and so on. It's
            built on already familiar tools like Entity Framework, AutoMapper,
            Castle Windsor...
        </p>
        <p>
            ASP.NET Boilerplate implements
            <strong>NLayer architecture</strong> (Domain, Application,
            Infrastructure and Presentation Layers) and
            <strong>Domain Driven Design</strong> (Entities, Repositories,
            Domain/Application Services, DTO's...). Also implements and provides
            a good infrastructure to implement common software development
            <strong>best practices</strong>.
        </p>
        <h3>What is Module Zero?</h3>
        <p>
            ASP.NET Boilerplate framework is designed to be independent of any
            database schema and to be as generic as possible. Therefore, It
            leaves some concepts
            <strong>abstract</strong> and <strong>optional</strong> (like audit
            logging, permission and setting stores) which requires some
            <strong>data store</strong>.
        </p>
        <h4>Based on Microsoft ASP.NET Core Identity</h4>
        <h3>Documentation</h3>
        <ul>
            <li>
                <a
                    href="https://www.aspnetboilerplate.com/Pages/Documents/Zero/Startup-Template-Core"
                    >Documentation for this template</a
                >
            </li>
            <li>
                <a href="http://www.aspnetboilerplate.com/Pages/Documents"
                    >ASP.NET Boilerplate documentation</a
                >
            </li>
        </ul>
        <h3>Source code</h3>
        <p>
            This template is developed open source on Github. You can contribute
            to the template.
            <a
                href="https://github.com/aspnetboilerplate/module-zero-core-template"
                target="_blank"
                >https://github.com/aspnetboilerplate/module-zero-core-template</a
            >
        </p>
    </div>
</default-page>